.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: white;
    width: 75px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgba(211, 211, 211, 0.587);
}

/* Only images of sidebar link */
.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: Roboto;
    font-size: 10px;
}